
*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body{
  font-family: 'Courier New', Courier, monospace;
  background-color: #202142;
  color: #fff;
  line-height: 1.6;
}
.container {
  max-width: 768px;
  margin: auto;
  padding: 0 20px;
}
header {
  height: 70px;
  width: 100%;
  display: flex;
  color: palevioletred;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  background-color:  rgb(0,0, 0,0.4);
}
.card{
  background-color: #fff;
  color:#333;
  border-radius: 15px;
  padding: 40px 50px;
  margin: 20px 0;
  position: relative;

}

.card h2 {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}
.num-display {
  position: absolute;
  top: -10px;
  left: -10px;
}

.num-display {
  /* position: relative; */
  background:palevioletred;
  width: 50px;
  height: 50px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  font-size: 19px;
  border: 1px #eee solid;
  transition: 0.3s;
}
.card.reverse{
  background-color: rgb(0,0, 0,0.4);
  color: #fff;
}
.close{
  top: 10px;
  position: absolute;
  right: 12px;
  background: none;
  border: none;
  cursor: pointer;
}